<html>
    <head>
        <link rel="stylesheet" href="/css/style.css" />
        <meta charset="UTF-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <%- include("partials/header.ejs") %>
        <div class="container">

            <form action="/users/register"  method="post">
    
              <div class="mb-3">  
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" id="email">
                <% if(locals.errors && locals.errors.email){ %>
                  <p> <%= errors.email.msg %>  </p>
                <% } %> 
              </div>
    
              <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="name" id="name">
                <% if(locals.errors && locals.errors.name){ %>
                  <p class="msg-error"> <%= errors.name.msg %>  </p>
                <% } %> 
              </div>
              
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password">
                <% if(locals.errors && locals.errors.password){ %>
                  <p> <%= errors.password.msg %>  </p>
                <% } %> 
              </div>
    
              <div class="mb-3">
                <button type="submit" class="btn btn-primary">
                  Registrate
                </button>
              </div>
            </form>
        </div>
    </body>
</html>